{% extends 'base.html' %} {% block body %}
  <div class="site-wrap">
 
    <!-- <div class="site-blocks-cover overlay" style="background-image: url(images/hero_bg_3.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line">About Us</h1>
            <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad maxime velit nostrum praesentium voluptatem. Mollitia perferendis dolore dolores.</p>
          </div>
        </div>
      </div>
    </div> -->

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="/static/images/img_1.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pl-md-5">
            <h2 class="text-black">Sobre a FlaToronto</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis inventore eius, doloremque fugiat id laudantium. Delectus quisquam voluptates deleniti incidunt, iusto magni mollitia rerum! Ex perspiciatis incidunt, laborum repellat illo.</p>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo maxime eligendi sunt autem consequuntur minima, quidem iure, nisi laboriosam, nam nostrum saepe voluptatibus repellat quam reiciendis. Accusantium omnis facilis eligendi.</p> -->
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div id="map">
              <iframe src="https://maps.google.com/maps?q=Bloor+Street+West+1026,+Toronto+-+ON,+Canada&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="360px" frameborder="0" style="border:0" title="Mapa Google - Atendimento no RJ" allowfullscreen=""></iframe>
            </div>
          </div>
          <div class="col-md-6 pr-md-5">
            <h2 class="text-black">Venha Visitar A Sede</h2>
            <p class="lead">Em fevereiro de 2017 reunimos um grupo de rubro-negros em Lisboa para acompanhar os jogos do mais querido. O que começou de forma despretensiosa, com apenas 7 pessoas no primeiro jogo, ultrapassou toda e qualquer expectativa. Em menos de um mês já eramos mais de 60 num Flamengo x Vasco. Com direito à benção do nosso ídolo maior, Zico, viramos consulado oficial do Flamengo em Lisboa. O crescimento não parou: na final do Carioca reunimos em torno de 100 pessoas, enquanto na final da Copa Sul-Americana fomos mais de 200 presentes!</p>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo maxime eligendi sunt autem consequuntur minima, quidem iure, nisi laboriosam, nam nostrum saepe voluptatibus repellat quam reiciendis. Accusantium omnis facilis eligendi.</p> -->
          </div>
        </div>
      </div>
    </div>



    
  </div>
  <script src="static/js/main.js"></script>  
  </div>
{% endblock %}