{% extends 'base.html' %} {% block body %}
<link rel="stylesheet" href="static/css/gallery.css">

    <div class="site-wrap">
      <div class="container">
        <br><br><br>
        <ui id="pagination-numbers">
            <div id="paginated-list">
            <li>
                <div class="lookbook-gallery">
                    <h2 class="look-hed">Lookbook Gallery</h2>
                            <div class="lookbook-grid" role="region"></div>
                                <figure class="model">
                                <img src="https://assets.codepen.io/t-1869/fridays.png" />
                                <figcaption class="model--caption">
                                    <h3 class="model-hed"><a href="#">Muscles McTouchdown</a></h3>
                                    <p>1Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
                                </figcaption>
                                </figure>
                                
                                <figure class="model">
                                <img src="https://assets.codepen.io/t-1869/fridays.png" />
                                <figcaption class="model--caption">
                                    <h3 class="model-hed"><a href="#">Scores Baserunner</a></h3>
                                    <p>2Scores is wearing a size X <a href="#">item</a> in colorway Y<p>
                                </figcaption>
                                </figure>
                                
                                <figure class="model">
                                <img src="https://assets.codepen.io/t-1869/fridays.png" />
                                <figcaption class="model--caption">
                                    <h3 class="model-hed">Scores Baserunner</h3>
                                    <p>3Scores is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
                                </figcaption>
                                </figure>
                                
                                <figure class="model">
                                <img src="https://assets.codepen.io/t-1869/fridays2.png" />
                                <figcaption class="model--caption">
                                    <h3 class="model-hed">Scores Baserunner</h3>
                                    <p>4Scores is wearing a size X <a href="#">item</a> in colorway Y<p>
                                </figcaption>
                                </figure>
                                
                                <figure class="model">
                                <img src="https://assets.codepen.io/t-1869/fridays.png" />
                                <figcaption class="model--caption">
                                    <h3 class="model-hed">Scores Baserunner</h3>
                                    <p>5last item?<a href="#">item</a> in colorway Y<p>
                                </figcaption>
                                </figure>
                </div>
            </li>
            </div>
        </ui>
        <ui id="pagination-numbers">
            <div id="paginated-list">
            <li>
                <div class="lookbook-gallery">
                    <h2 class="look-hed">Lookbook Gallery</h2>
                            <div class="lookbook-grid" role="region"></div>
                                <figure class="model">
                                <img src="https://assets.codepen.io/t-1869/fridays.png" />
                                <figcaption class="model--caption">
                                    <h3 class="model-hed"><a href="#">Muscles McTouchdown</a></h3>
                                    <p>1Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
                                </figcaption>
                                </figure>
                                
                                <figure class="model">
                                <img src="https://assets.codepen.io/t-1869/fridays.png" />
                                <figcaption class="model--caption">
                                    <h3 class="model-hed"><a href="#">Scores Baserunner</a></h3>
                                    <p>2Scores is wearing a size X <a href="#">item</a> in colorway Y<p>
                                </figcaption>
                                </figure>
                                
                                <figure class="model">
                                <img src="https://assets.codepen.io/t-1869/fridays.png" />
                                <figcaption class="model--caption">
                                    <h3 class="model-hed">Scores Baserunner</h3>
                                    <p>3Scores is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
                                </figcaption>
                                </figure>
                                
                                <figure class="model">
                                <img src="https://assets.codepen.io/t-1869/fridays2.png" />
                                <figcaption class="model--caption">
                                    <h3 class="model-hed">Scores Baserunner</h3>
                                    <p>4Scores is wearing a size X <a href="#">item</a> in colorway Y<p>
                                </figcaption>
                                </figure>
                                
                                <figure class="model">
                                <img src="https://assets.codepen.io/t-1869/fridays.png" />
                                <figcaption class="model--caption">
                                    <h3 class="model-hed">Scores Baserunner</h3>
                                    <p>5last item?<a href="#">item</a> in colorway Y<p>
                                </figcaption>
                                </figure>
                </div>
            </li>
            </div>
        </ui>
      </div>
    </div>        
        <br>
<nav class="pagination-container">
  <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">
    &lt;
  </button>
   
  <div id="pagination-numbers">
 
  </div>
   
  <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
    &gt;
  </button>
</nav>





    </div>    
    <script src="static/js/main.js"></script>  
    <script>
    $('#demo').pagination({
        dataSource: [1, 2, 3, 4, 5, 6, 7, ... , 195],
        callback: function(data, pagination) {
            // template method of yourself
            var html = template(data);
            dataContainer.html(html);
        }
    })
    
    </script> 
    </div>
{% endblock %}