{% extends 'base.html' %} {% block body %}
<link rel="stylesheet" href="static/css/g.css">

    <div class="site-wrap">
    <div class="table-item">
      <table class="table table-hover" style="width: 80px;">
      <thead class="thead-dark">
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
      </thead>
      <Tbody>
        <tr>
          <td>
            
              <figure class="model">
                <img src="https://assets.codepen.io/t-1869/fridays.png" />
                <figcaption class="model--caption">
                    <h3 class="model-hed"><a href="#">Muscles McTouchdown</a></h3>
                    <p>Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
                </figcaption>
              </figure>            
            </div>    
          </td>
        
        
          <td>
            <figure class="model">
              <img src="https://assets.codepen.io/t-1869/fridays.png" />
              <figcaption class="model--caption">
                  <h3 class="model-hed"><a href="#">Muscles McTouchdown</a></h3>
                  <p>Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
              </figcaption>
            </figure>            

          </td>
          <td>
            <figure class="model">
              <img src="https://assets.codepen.io/t-1869/fridays.png" />
              <figcaption class="model--caption">
                  <h3 class="model-hed"><a href="#">Muscles McTouchdown</a></h3>
                  <p>Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
              </figcaption>
            </figure>            

          </td>
        
        
          <td>
            <figure class="model">
              <img src="https://assets.codepen.io/t-1869/fridays.png" />
              <figcaption class="model--caption">
                  <h3 class="model-hed"><a href="#">Muscles McTouchdown</a></h3>
                  <p>Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
              </figcaption>
            </figure>            

          </td>          
        </tr>        
        <tr>
          <td>
            <figure class="model">
              <img src="https://assets.codepen.io/t-1869/fridays.png" />
              <figcaption class="model--caption">
                  <h3 class="model-hed"><a href="#">Muscles McTouchdown</a></h3>
                  <p>Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
              </figcaption>
            </figure>            

          </td>
        
        
          <td>
            <figure class="model">
              <img src="https://assets.codepen.io/t-1869/fridays.png" />
              <figcaption class="model--caption">
                  <h3 class="model-hed"><a href="#">Muscles McTouchdown</a></h3>
                  <p>Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
              </figcaption>
            </figure>            

          </td>
          <td>
            <figure class="model">
              <img src="https://assets.codepen.io/t-1869/fridays.png" />
              <figcaption class="model--caption">
                  <h3 class="model-hed"><a href="#">Muscles McTouchdown</a></h3>
                  <p>Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
              </figcaption>
            </figure>            

          </td>
        
        
          <td>
            <figure class="model">
              <img src="https://assets.codepen.io/t-1869/fridays.png" />
              <figcaption class="model--caption">
                  <h3 class="model-hed"><a href="#">Muscles McTouchdown</a></h3>
                  <p>Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
              </figcaption>
            </figure>            

          </td>          
        </tr>

      </Tbody>
      </table>




    </div>    
    <script src="static/js/main.js"></script>  
    </div>
{% endblock %}