{% extends 'base.html' %} {% block body %}
<link rel="stylesheet" href="static/css/g.css">
<br><br><br><br>

      
      <div class="lookbook-gallery">
        <h2 class="look-hed">Lançamentos</h2><br>
        <div class="lookbook-grid" role="region">
          
          <figure class="model">
            <img src="https://assets.codepen.io/t-1869/fridays.png" />
            <figcaption class="model--caption">
              <h3 class="model-hed"><a href="#">Muscles McTouchdown</a></h3>
              <p>Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
            </figcaption>
          </figure>
          
          <figure class="model">
            <img src="https://assets.codepen.io/t-1869/fridays.png" />
            <figcaption class="model--caption">
              <h3 class="model-hed"><a href="#">Scores Baserunner</a></h3>
              <p>Scores is wearing a size X <a href="#">item</a> in colorway Y<p>
            </figcaption>
          </figure>
          
          <figure class="model">
            <img src="https://assets.codepen.io/t-1869/fridays.png" />
            <figcaption class="model--caption">
              <h3 class="model-hed">Scores Baserunner</h3>
              <p>Scores is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
            </figcaption>
          </figure>
          
          <figure class="model">
            <img src="https://assets.codepen.io/t-1869/fridays2.png" />
            <figcaption class="model--caption">
              <h3 class="model-hed">Scores Baserunner</h3>
              <p>Scores is wearing a size X <a href="#">item</a> in colorway Y<p>
            </figcaption>
          </figure>
          
          <figure class="model">
            <img src="https://assets.codepen.io/t-1869/fridays.png" />
            <figcaption class="model--caption">
              <h3 class="model-hed">Scores Baserunner</h3>
              <p>Scores is wearing a size X <a href="#">item</a> in colorway Y<p>
            </figcaption>
          </figure>

          <figure class="model">
            <img src="https://assets.codepen.io/t-1869/fridays.png" />
            <figcaption class="model--caption">
              <h3 class="model-hed">Scores Baserunner</h3>
              <p>Scores is wearing a size X <a href="#">item</a> in colorway Y<p>
            </figcaption>
          </figure>
          
          <figure class="model">
            <img src="https://assets.codepen.io/t-1869/fridays2.png" />
            <figcaption class="model--caption">
              <h3 class="model-hed">Scores Baserunner</h3>
              <p>Scores is wearing a size X <a href="#">item</a> in colorway Y<p>
            </figcaption>
          </figure>
          
          <figure class="model">
            <img src="https://assets.codepen.io/t-1869/fridays.png" />
            <figcaption class="model--caption">
              <h3 class="model-hed">Scores Baserunner</h3>
              <p>Scores is wearing a size X <a href="#">item</a> in colorway Y<p>
            </figcaption>
          </figure>
          
          <figure class="model">
            <img src="https://assets.codepen.io/t-1869/fridays.png" />
            <figcaption class="model--caption">
              <h3 class="model-hed">Scores Baserunner</h3>
              <p>Scores is wearing a size X <a href="#">item</a> in colorway Y<p>
            </figcaption>
          </figure>
          
          <figure class="model">
            <img src="https://assets.codepen.io/t-1869/fridays.png" />
            <figcaption class="model--caption">
              <h3 class="model-hed">Scores Baserunner</h3>
              <p>Scores is wearing a size X <a href="#">item</a> in colorway Y<p>
            </figcaption>
          </figure>
        </div>
      </div>
      <br><br><br><br>


    </div>    
    <script src="static/js/main.js"></script>  
    </div>
{% endblock %}